<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="center-title">
      TravelPal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Notificações</h1>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-card class="notification-card" *ngIf="mostrarNotificacao">
    <ion-card-content>
      <ion-grid>
        <ion-row class="notification-row">
          <ion-col size="auto" class="ion-text-left" style="padding: 0px; margin: 0px">
              <ion-icon size="large" src="../../assets/icon/NotificationBing.svg"></ion-icon>
          </ion-col>
          <ion-col class="text-col" style= "padding-left: 2em">
            <ion-row class="title-row">Notificação 1</ion-row>
            <ion-row class="body-row">Este é o corpo da notificação</ion-row>
            <ion-row class="time-row">Há duas horas</ion-row>
          </ion-col>
          <ion-col size="auto" class="ion-text-right" style="padding: 0px; margin: 0px">
            <ion-button fill="clear" (click)="fecharNotificacao()">
              <ion-icon size="large" src="../../assets/icon/X.svg"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>